<div class="container">
<h2> Caso Portal CRM </h2>
<h6> Aprendizaje 101 </h6>
    <% if user_signed_in? %>
        <p> Click en el siguiente enlace para agregar clientes </p>
        <%=link_to 'Agregar cliente', new_customer_path, class: "button", style:"width: 200px"%>
    <% else %>
    <% end %>
</div>